.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  background: lightblue;
  padding: 20px 200px 20px 200px;

}

a {
  color: rgb(40, 40, 145);
  font-weight: bold;
  font-size: large
}
