<h1>Your Cart</h1>

 <div *ngFor="let product of productList">
    <img src="{{product.url}}">
    <p>{{product.name}}</p>
    <p>Price: ${{product.price}}</p>
    

      <p>Quantity:{{product.quantity}}</p>
        <button class="btn btn-primary" style="margin-right: 10px;" >+</button>
        <button class="btn btn-primary" style="margin-right: 10px;" >-</button>

       
</div>


  <h2>Total:</h2>
<br>



<button class="btn btn-primary" style="margin-right: 10px;" (click)="clearCart()">Clear Cart</button>
