<h1>Your Cart: ({{cartService.productCount()}})</h1>

<div style="display: flex; flex-direction: row; justify-content: space-around; ">
  
  <div>
    <div *ngFor="let product of cartService.productList">
    
      
      <img src="{{product.url}}">
      <p>{{product.name}}</p>
      <p>Price: ${{product.price}}</p>  
      <div>
        <p>Quantity:
          <input type="number" [(ngModel)]="product.quantity" (ngModelChange)="quantityChanged($event)" />
        </p>
          <button class="btn btn-primary" style="margin-right: 10px;"
            (click)="increaseQuantity(product)"
          >+</button>
          <button class="btn btn-primary" style="margin-right: 10px;"
            (click)="decreaseQuantity(product)"
          >-</button>
          <button class="btn btn-primary" style="margin-right: 10px;" (click)="removeItem(product)">Remove Product</button>
      </div>
    </div>

  </div>
  
    <div>
      <h2>Total: ${{cartService.cartTotal()}}</h2>
  
<br>
      <button class="btn btn-primary" style="margin-right: 10px;" (click)="clearCart()">Clear Cart</button>
      <br>
      <app-add-payment></app-add-payment>
    </div>
</div>
      


